*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$main-color: #edddf0;
$base-color: #f3ebf5;
$text-color: #000;
$hover-color: #a44c23;

.App {
  font-family: 'Dosis', sans-serif;
}

.navbar {
  background: #fff;
  height: 150px;
  text-transform: uppercase;
  // position: fixed;
  // top: 0;
  // width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo {
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Vollkorn', serif;
    margin-left: 20px;

    .symbol {
    color: #a44c23;
    font-size: 35px;
    }

  }

  .sub-title {
    font-size: 17px;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
}

  ul {
    display: flex;
    list-style-type: none;
  }

  .link {
    color: $text-color;
    text-decoration: none;
    margin: 0 20px;
    font-size: 15px;

    &:hover {
      color: $hover-color;
    }
  }
}





