$main-color: #edddf0;

.contact {
    background: $main-color;
}

.symbol {
    color: #a44c23;
    font-size: 35px;
}

.star {
    color: #a44c23;
}

.con--container {
    padding-top: 100px;
    h1{
        text-align: center;
        font-size: 28px;
        animation: main 300ms ease-in 400ms;
        animation-fill-mode: forwards;
        transform: perspective(-50px) ;
        opacity: 0;
    }

    .con--card {
        width: 679px;
        height: 695px;
        background: #f8f4f1;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        animation: main 300ms ease-in 800ms;
        animation-fill-mode: forwards;
        transform: perspective(-50px) ;
        opacity: 0;
    }
}

form {
    display: flex;
    flex-direction: column;
    padding:  40px;
    input {
        display: flex;
        background-color: #f8f4f1;
        color: #a34a21;
        font-size: 14px;
        line-height: 19.6px;
        padding: 3px 3px 3px 15px;
        text-align: left;
        border: 2px solid #f4c1ff;
        border-top-color: #f8f4f1;
        border-left-color: #f8f4f1;
        border-right-color: #f8f4f1;
        padding-top: 20px;
        width: 292px;
        &:focus {
            outline: none;
        }

        &:hover {
            border: 2px solid #a34a21;
            border-top-color: #f8f4f1;
            border-left-color: #f8f4f1;
            border-right-color: #f8f4f1;
        }
    }

    label {
        color:#301d10;
        font-size: 16px;
        line-height: 14px;
        margin: 0px 0px 9px;
        padding: 20px 20px 0px 0px;
        text-align: left;
        font-weight: 600;
    }
}

.username {
    display: flex;
}

.button {
    align-items: center;
    background-color: #a34a21;
    color: #fff;
    border-radius: 100px;
    border: none;
    font-size: 14px;
    width: 150px;
    height: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    justify-content: center;
    padding: 0;
    margin-top: 20px;

    &:hover {
        background-color: #fff;
        color: #000;
        border: 2px solid #a34a21;
        border-radius: 100px;
    }
}

.width {
    width: 600px;
}

.msg {
    padding-top: 100px;
    width: 600px;
}

@keyframes main {
    0% {
        transform: perspective(-50px);
        opacity: 0;
    }

    100% {
        transform: perspective(0);
        opacity: 1;
    }
}