.Resume {
    padding: 0 50px;
    .copyright {
        margin-left: 0px;
    }
}

.resume--container {
    display: flex;
    flex-direction: column;

    .name {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 16px;
    }

    a {
        color: #242424;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        margin-bottom: 20px;
        width: 300px;

        &:hover {
            background-color: #d4d4d4;
            width: 270px;
            border-radius: 10px;
            
        }
    }

    .codes {
        margin-bottom: 10px;
    }
}

hr {
    color: #3d3d3d;
    border-top: 1px;
}

.head {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

    .skill--group {

        ul {

            li {
                list-style-type: none;
                margin: 10px 0;
            }
        }
    }
}


.education {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

    .university {
        h1 {
            font-size: 18px
        }
    }
    .sub {
        padding-left: 300px;
        h1 {
            font-size: 16px;
            width: 200px;
        }
    }

    .details {
        width: 200px;
        padding-left: 100px;
    }
}

.copyright {
    margin-left: 10px;
}