.Resume {
    padding: 0 50px;
    .copyright {
        margin-left: 0px;
    }
}

.resume--container {
    display: flex;
    flex-direction: column;

    .name {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 16px;
        animation: main 300ms ease-in 400ms;
        animation-fill-mode: forwards;
        transform: translateY(-50px) ;
        opacity: 0;
    }

    a {
        color: #242424;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        margin-bottom: 20px;
        width: 300px;
        animation: main 300ms ease-in 600ms;
        animation-fill-mode: forwards;
        transform: translateY(-50px) ;
        opacity: 0;

        &:hover {
            background-color: #d4d4d4;
            width: 270px;
            border-radius: 10px;
            
        }
    }

    .codes {
        margin-bottom: 10px;
        animation: main 300ms ease-in 800ms;
        animation-fill-mode: forwards;
        transform: translateY(-50px) ;
        opacity: 0;
    }
}

hr {
    color: #3d3d3d;
    border-top: 1px;
}

.head {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
    animation: main 300ms ease-in 1000ms;
    animation-fill-mode: forwards;
    transform: translateY(-50px) ;
    opacity: 0;
    
}

.skills {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    animation: main 300ms ease-in 1200ms;
    animation-fill-mode: forwards;
    transform: translateY(-50px) ;
    opacity: 0;
    .skill--group {

        ul {

            li {
                list-style-type: none;
                margin: 10px 0;
            }
        }
    }
}


.education {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    animation: main 300ms ease-in 1400ms;
    animation-fill-mode: forwards;
    transform: translateY(-50px) ;
    opacity: 0;
    .university {
        h1 {
            font-size: 18px
        }
    }
    .sub {
        padding-left: 300px;
        h1 {
            font-size: 16px;
            width: 200px;
        }
    }

    .details {
        width: 200px;
        padding-left: 100px;
    }
}

.copyright {
    margin-left: 10px;
}

@keyframes main {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}